
mixin chat(roomName)
    style.
        div.hiddenroomtitle{
            display: none;
        }
        div.chat {
            height:100%;
        }
        div.chatlog{
            height: 80%;
            width: 100%;
            overflow-y: scroll;
            border: 1px solid black;
        }
        div.chatinput{
            width: 100%;
            border: 1px solid black;
            white-space: nowrap;
        }
        #txtChat{
            width: 89%;
        }
        #btnChat{
            width: 9%;
            height:100%;
        }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li {padding: 5px 10px; word-wrap: break-word;}
        #messages li:nth-child(odd) { background: #eee; }

    div.hiddenroomtitle= roomName
    div.chat
        div.chatsettings
            form
                button#btnClear clear chat
        div.chatlog
            ul(id="messages")
        div.chatinput
            form
                input#txtChat(type="text", autocomplete="off")
                button#btnChat(type="submit") >
        p.errorMessage

    audio#notificationSound(src = "/resources/blop_sound.mp3")

    script.

        // chat
        var txtChat = $('#txtChat');
        $('div.chatinput form').submit(function() {
            var msg = txtChat.val();
            // don't allow empty submissions
            if (msg.length === 0) return false;
            socket.emit('chat',
                {msg: msg,
                roomName: $('div.hiddenroomtitle').html()}
            );
            txtChat.val("");
            // TODO:confirm that the chat was received by server
            $('#messages').append($('<li>').text(msg));
            return false;
        });
        socket.on('chat', function(data){
            var msg = data.name+": "+data.msg;
            $('#messages').append($('<li>').text(msg));
            txtChat.focus();
            chatNotification(msg);
            $('div.chatlog').scrollTop($('#messages').height());
        });
        socket.on('user left', function(msg){
            $('#messages').append($('<li>').text(msg));
            $('div.chatlog').scrollTop($('div.chatlog').height());
        });
        socket.on('user joined', function(msg){
            $('#messages').append($('<li>').text(msg));
            $('div.chatlog').scrollTop($('div.chatlog').height());
        });
        $('#btnClear').click(function() {
            $('#messages').html("");
            return false;
        });

        var chatNotification = function(message){
            var options = {body: message};

            if(!("Notification" in window)){
                console.log("This browser does not support desktop notifications.");
            }
            else if(Notification.permission === "granted"){
                var notification = new Notification("New message - StoryTeam", options);
                var sound = document.getElementById('notificationSound');
                console.log(sound);
                sound.play();
            }

            else if(Notification.permission !== "denied"){ //ask for permission
                Notification.requestPermission(function(permission){
                    if(permission === "granted"){
                        var notification = new Notification("New message - StoryTeam", options);
                        document.getElementById('notificationSound').play();
                    }
                })
            }

        };



