
mixin storybuilder(roomName)
    style.
        div.hiddenroomtitle{ display:none; }
        div.storybuilder {
            height: 100%;
        }
        div.storyTurn{
            width:20%;
        }
        div.storylog{
            height: 90%;
            width: 100%;
            overflow-y: scroll;
            border: 1px solid black;
        }
        div.story {
            width: 100%;
            word-wrap: break-word;
        }
        p.storyErrorMessage {
            font-size: 0.5em;
        }

    div(class='hiddenroomtitle',data-room!=roomName)= roomName
    div.storybuilder
        div.storyTurn
        div.storylog
            div.story
        div.storyinput
            form
                input#txtStory(type="text", autocomplete="off")
                button#btnStory(type="submit") >
            p.storyErrorMessage

    script.

        // story
        socket.emit("refresh story", {roomName: $('div.hiddenroomtitle').data('room')});
        var txtStory = $('#txtStory');
        $('div.storyinput form').submit(function() {
            socket.emit('story',
                {msg: txtStory.val(),
                roomName: $('div.hiddenroomtitle').html()}
            );
            $('p.storyErrorMessage').html("");
            txtStory.val("");
            return false;
        });
        socket.on('story',function(data){
            // reset error message
            $('p.errorMessage').html("");

            $('div.story').html(constructStoryHtml(data.story));
            $('div.storylog').scrollTop($('div.story').height());
        });

        socket.on('story error', function(data){
            $('p.errorMessage').html(data.msg);
        });

        var constructStoryHtml = function (continuations){
            var storyHtml = $('<div>').addClass('storyText');
            var colors = ['#999966','white'];
            for (var i=0; i<continuations.length; i++){
                var entry = continuations[i];
                storyHtml.append(
                $('<span>')
                    .html(entry.text)
                    .addClass(entry.author.publicid)
                    .attr('title', entry.author.name)
                    // TODO: use assigned user colors
                    .css('background-color', entry.author.color )
                );
            }
            return storyHtml.get(0);
        };


