

mixin userslist(roomName)
    style.
        div.hiddenroomtitle{display:none; }
        div.userslist {
            height:80%;
            width: 100%;
            overflow-y: scroll;
        }
        .users {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative;
            width: 80%;
        }
        .users li {
            position: relative;
            height: 1em;
            width: 100%;
            padding-right: 5%;
            padding-top: 10%;
            padding-bottom: 10%;
            padding-left: 2%;
        }

        .users li div.turnIcon {
            position: relative;
            width: 20%;
            height: 1em;
            float: left;
        }
        .users li div.userName {
            position: relative;
            width: 80%;
            float: right;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #presentUsers li div.hasTurn {
            background: url("/resources/pencil.png") center no-repeat;
            background-size: 15px;
        }

        #presentUsers{
            position: relative;
            height: 60%;
        }
        p.gone {
            position: relative;
            padding-left: 2%;
        }
        #goneUsers {
            position: relative;
            top: 1%;
        }

    
    div.hiddenroomtitle= roomName
    div.userstitle authors
    div.userslist
        ul.users(id="presentUsers")
        p.gone post mortem
        ul.users(id="goneUsers")

    script.
        // populate user list
        socket.emit("user list", {roomName: $('div.hiddenroomtitle').html()});

        var addListToElement = function(element, data){
            for (var i=0; i<data.length; i++){
                var user = data[i];
                element.append($('<li>')
                    .css('background-color', user.color)
                    .addClass(user.publicid)
                    .append($('<div>')
                        .addClass('userName')
                        .text(user.name))
                    .append($('<div>')
                        .addClass('turnIcon'))
                );
            }
        };
        socket.on("user list", function(data){
            var elem = $('#presentUsers');
            elem.html("");
            addListToElement(elem,data);
        });
        socket.on("gone user list", function(data){
            var elem = $('#goneUsers');
            elem.html("");
            addListToElement(elem,data);
        });
        // refresh whever a user leaves or joins
        socket.on("user left", function(data){
            socket.emit("user list", {roomName: $('div.hiddenroomtitle').html()});
        });
        socket.on("user joined", function(data){
            socket.emit("user list", {roomName: $('div.hiddenroomtitle').html()});
        });

