
extends ./layout.jade

block header
    title storyteam
    style.
        div.maincontent {
            position: relative;
            height: 90%; width: 90%;
        }

block content
    div.maincontent
        h1 storyteam
        div.login
            form
                span Nickname 
                input#txtUsername(type="text")
                br
                input#btnSubmitUser(type="submit")
            p.errorMessage
        div.description
            h3 Hi! This game is currently undergoing development.
            p Please play this game with your friends and share feedback!
            p Github: <a href="https://github.com/el2724/storyteam">storyteam</a>


block scripts
    script.

        var socket = io();
        // login
        var txtUsername = $('#txtUsername');
        txtUsername.focus();
        $('div.login form').submit(function() {
            socket.emit('login', txtUsername.val());
            return false;
        });
        socket.on('login result', function(msg){
            $('div.maincontent').html(msg);
        });
        socket.on('validate user', function(data){
            socket.user = data;
        });
