
include mixins/chat
include mixins/storybuilder
include mixins/userslist

style.
    html, body {
        height: 100%; width: 100%; margin: 0;
    }
    div.container {
        width: 90%;
        padding-left: 5%;
        height: 100%;
        position: relative;
    }
    div.storybuilding {
        float: left;
        width: 60%;
        height: 90%;
    }
    div.sidechat {
        float: right;
        width: 25%;
        height: 90%;
    }
    div.users {
        float:right;
        width: 15%;
        height: 90%;
    }
    


div.container
    h1!= roomName
    div.storybuilding
        +storybuilder(roomName)
    div.users
        +userslist(roomName)
    div.sidechat
        +chat(roomName)

style.
    
    .hasTurn {
        /* TODO: stop using !important */
        background-color: green !important;
    }

script.

    socket.on('user turn', function(data){
        $('div.storyTurn').html(data.name+"'s turn")
            .addClass(data.publicid);
        // set turn icon on userslist
        $('#presentUsers li').removeClass('hasTurn');
        var userElem = $('#presentUsers li.'+data.publicid);
        userElem.addClass('hasTurn');
        // TODO: add notifications here
    });
