
include mixins/chat
include mixins/storybuilder
include mixins/userslist

style.
    html, body {
        height: 100%; width: 100%; margin: 0;
    }
    div.container {
        width: 90%;
        padding-left: 5%;
        height: 100%;
        position: relative;
    }
    div.storybuilding {
        float: left;
        width: 60%;
        height: 90%;
    }
    div.sidechat {
        float: right;
        width: 25%;
        height: 90%;
    }
    div.users {
        float:right;
        width: 15%;
        height: 90%;
    }
    


div.container
    h1(id='roomTitle', data-room!=roomName)!= roomName
    h3(id='titleAuthors')
    div.storybuilding
        +storybuilder(roomName)
    div.users
        +userslist(roomName)
    div.sidechat
        +chat(roomName)

    audio#storyNotificationSound(src = "/resources/blop_sound.mp3")

script.
    document.inWindow = true;
    $(window).blur(function(){
        document.inWindow = false;
    }).focus(function(){
        document.inWindow = true;
    });
    socket.on('update user', function(data){
        socket.user = data;
    });
    socket.on('user list', function(data){
        var authors = $('#titleAuthors');
        authors.html('by ').append(
            $('<span>')
            .addClass(socket.user.publicid)
            .css('background-color', socket.user.color)
            .text(socket.user.name)
        );
        for (var i=0; i<data.length; i++){
            var user = data[i];
            if (user.publicid === socket.user.publicid){
                continue;
            }
            authors.append(', ');
            authors.append(
                $('<span>')
                .addClass(user.publicid)
                .css('background-color', user.color)
                .text(user.name)
            );
        }
    });

    socket.on('user turn', function(data){
        $('div.storyTurn').html('');
        $('div.storyTurn').append(
            $('<span>').addClass(data.publicid)
            .css('background-color', data.color)
            .text(data.name)
        ).append("'s turn");
        // set turn icon on userslist
        console.log($('#presentUsers').parent().html());
        $('#presentUsers li div.turnIcon').removeClass('hasTurn');
        $('#presentUsers li.'+data.publicid+' div.turnIcon').addClass('hasTurn');

        if (socket.user.publicid === data.publicid){
            // notification
            storyNotification();
        }
    });

    var storyNotification = function(){
        if (document.inWindow === true) return;

        var textNotify = function() {
            var notification = new Notification("Your Turn! - StoryTeam");
            setTimeout(function(){
                notification.close();
            },2000);
        };
        var soundNotify = function(){
            document.getElementById('storyNotificationSound').play();
        };
        if (!("Notification" in window)){
            console.log("This browser does not support desktop notifications.");
        }
        else if (Notification.permission === "granted"){
            textNotify();
            soundNotify();
        }
        else if (Notification.permission === "default"){
            // ask for permission
            Notification.requestPermission(function(permission){
                if (permission === "granted"){
                    textNotify();
                    soundNotify();
                }
            });
        }
        // else (denied) don't bother user

    };



